@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap");

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

body {

  min-height: 100vh;

  background: url(../img/background.png) no-repeat center center fixed;

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;

  font-family: "Open Sans", sans-serif;

  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;

  background-attachment: fixed;

}

img {

  width: 100%;

  border-radius: 100%;

}

header {

  width: 100%;

  height: auto;

  display: flex;

  justify-content: center;

  align-items: center;

}

h1 {

  font-size: 5rem;

  margin: 0px;

  font-weight: 700;

}

p {

  margin: 0px;

  font-weight: 300;

}

.avatar {

  height: 9em;

  width: 9em;

}

.text {

  color: white;

  margin-left: 15px;

}

main {

  margin: 30px;

  position: relative;

}

a {

  color: white;

  text-decoration: none;

  font-weight: bold;

  display: inline-block;

  transition: transform 0.5s;

  animation-delay: 0.75s;

  border-radius: 20px;

  margin: 10px;

  padding: 10px 20px;

}

main a:nth-child(1) {

  background-color: #1da1f2;

  filter: drop-shadow(5px 5px 0 rgba(29, 161, 242, 0.6));

}

main a:nth-child(2) {

  background-color: #1da1f2;

  filter: drop-shadow(5px 5px 0 rgba(29, 161, 242, 0.6));

}

main a:nth-child(3) {

  background-color: #c32aa3;

  filter: drop-shadow(5px 5px 0 rgba(195, 42, 163, 0.6));

}

main a:nth-child(4) {

  background-color: #292d32;

  filter: drop-shadow(5px 5px 0 rgba(41, 45, 50, 0.6));

}

main a:nth-child(5) {

  background-color: #c32a2a;

  filter: drop-shadow(5px 5px 0 rgba(195, 42, 42, 0.6));

}

main a:nth-child(6) {

  background-color: #7289DA;

  filter: drop-shadow(5px 5px 0 #7289da7c);

}

@media screen and (max-width: 425px) {

  header {

    flex-direction: column;

  }

  h1 {

    font-size: 3rem;

  }

  .text {

    text-align: center;

  }

  main {

    display: flex;

    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

  }

}

.hover-scale-inset {

  transition: transform 200ms ease;

  -webkit-transition: transform 200ms ease;

}

.hover-scale-inset:hover {

  transform: scale(0.85);

  -webkit-transform: scale(0.85);

  opacity: .5;

}
